<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tunify</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
   

<body>

    <div class="container">
        <div class="left">
            <img src="/tunefy.svg" alt="">
            <span class="Tunify">Tunify</span>
            <div class="home">
                <ul>
                    <li><img src="/home.svg" alt="home">Home</li>
                    <li><img src="/search.svg" alt="home">Search</li>
                </ul>
            </div>
            <div class="library">
                <img src="/library.svg" alt="">
                <h2 >Library</h2>
            </div>
            <div class="songsPlaylist">
                <ol>
                    <li><a href="http://localhost:3000/indexTab?songName=Bohemian%20Rhapsody" target="_blank">1. Bohemian Rhapsody</a></li>
                    <li><a href="http://localhost:3000/indexTab?songName=Love%20Hotel" target="_blank">2. Love Hotel</a></li>
                    <li><a href="http://localhost:3000/indexTab?songName=Hotel%20California" target="_blank">3. Hotel California</a></li>
                    <li><a href="http://localhost:3000/indexTab?songName=Purple%20Rain" target="_blank">4. Purple Rain</a></li>
                    <li><a href="http://localhost:3000/indexTab?songName=Stairway%20to%20Heaven" target="_blank">5. Stairway to Heaven</a></li>
                    <li><a href="http://localhost:3000/indexTab?songName=Thriller%20Night" target="_blank">6. Thriller Night</a></li>
                    <li><a href="http://localhost:3000/indexTab?songName=Blackbird%20Sing" target="_blank">7. Blackbird Sing</a></li>
                    <li><a href="http://localhost:3000/indexTab?songName=Sweet%20Caroline" target="_blank">8. Sweet Caroline</a></li>
                    <li><a href="http://localhost:3000/indexTab?songName=Dancing%20in%20September" target="_blank">9. Dancing in September</a></li>
                    <li><a href="http://localhost:3000/indexTab?songName=Hello%20Goodbye" target="_blank">10. Hello Goodbye</a></li>
            </div>
        </div>

        <div class="right">
            <div class="buttons">
                <ul>
                    <li><button class="sign">Sign up</button></li>
                    <li><button class="log">Log in</button></li>
                </ul>
            </div>
            <div class="heading">
                <h1>Tunify Playlist</h1>
            </div>
            <div class="tunefy-playlist">

                <div id="song1" class="card">
                    <img src="/images/download10.jpeg" alt="">
                    <h2>Bohemian Rhapsody</h2>
                    <p>Md Abdul Raheem</p>
                </div>
                <div id="song2" class="card">
                    <img src="/images/download1.jpeg" alt="">
                    <h2>Love Hotel</h2>
                    <p>Md Abdul Raheem</p>
                </div>
                <div id="song3" class="card">
                    <img src="/images/download2.jpeg" alt="">
                    <h2>Hotel California</h2>
                    <p>Md Abdul Raheem</p>
                </div>
                <div id="song4" class="card">
                    <img src="/images/download3.jpeg" alt="">
                    <h2>Purple Rain</h2>
                    <p>Md Abdul Raheem</p>
                </div>
                <div id="song5" class="card">
                    <img src="/images/download4.jpeg" alt="">
                    <h2>Stairway Heaven</h2>
                    <p>Md Abdul Raheem</p>
                </div>
                <div id="song6" class="card">
                    <img src="/images/download5.jpeg" alt="">
                    <h2>Thriller Night</h2>
                    <p>Md Abdul Raheem</p>
                </div>
                <div id="song7" class="card">
                    <img src="/images/download6.jpeg" alt="">
                    <h2>Blackbird Sing</h2>
                    <p>Md Abdul Raheem</p>
                </div>
                <div id="song8" class="card">
                    <img src="/images/download7.jpeg" alt="">
                    <h2>Sweet Caroline</h2>
                    <p>Md Abdul Raheem</p>
                </div>
                <div id="song9" class="card">
                    <img src="/images/download8.jpeg" alt="">
                    <h3>Dancing in September</h3>
                    <p>Md Abdul Raheem</p>
                </div>
                <div id="song10" class="card">
                    <img src="/images/download9.jpeg" alt="">
                    <h2>Hello Goodbye</h2>
                    <p>Md Abdul Raheem</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>